<h1> Hello I am a blog app <h1>
<% if user_signed_in? %>
  <div>
    <%= link_to "New Article", new_article_path %>
  </div>

  <div>
    <%= link_to "My Article", articles_path %>
  </div>

  <div>
    <%= link_to "All Article", org_articles_path %>
  </div>
<% end %>

<% unless user_signed_in? %>
  <div>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
<% end %>

<div>
  <% if user_signed_in? %>
    <div>Welcome <%= current_user.email %></div>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>


